<section class="footer">
    <br>
    <br>
    <br>
    <br>
    <br>
          <div class="row d-flex justify-content-center">
              <a><i class="fab fa-facebook-f mr-3"></i></a>
              <a><i class="fab fa-twitter mr-3"></i></a>
              <a><i class="fab fa-linkedin-in"></i></a>
          </div>
          <br>
      <!-- Footer-->
          <div class="row justify-content-center">
                <p translate>footerTranslate.copyright</p>
          </div>
    
    </section>
    <router-outlet></router-outlet>