.contact {
    background-color: rgb(235, 230, 230);
}

.fa-info-circle {
    font-size: 30px;
}

#side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-fluid {
    width: 100%;
    height: 250px;
    object-fit: cover;
}