.navbar-nav > li > a {
  font-size: 15px !important;
  color: white;
}

.nav-item{
  padding-left: 30px;
}

.nav-item1{
  padding-right: 10px;
  padding-left: 30px;
  color: white;

}

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-right: 20px;
    padding-left: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 18px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
  }

