

<app-navbar></app-navbar>

<div class="d-flex" id="wrapper">
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin Dashboard
        </div>
        <div class="list-group list-group-flush" id="sidebar-wrapper-links">
            <a id="anchor" routerLink="/admin-article" class="list-group-item list-group-item-action bg-primary">Articles<span class="ml-auto"><i class="fas fa-newspaper"></i></span></a>
            <a id="anchor" routerLink="/admin" class="list-group-item list-group-item-action bg-primary">Create Article<span class="ml-auto"><i class="fas fa-pen"></i></span></a>
            <a id="anchor" routerLink="/admin-edit-home" class="list-group-item list-group-item-action bg-primary">Edit Home<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
            <a id="anchor" routerLink="/admin-about" class="list-group-item list-group-item-action bg-primary">Edit About<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
            <a id="anchor" routerLink="/admin-services" class="list-group-item list-group-item-active bg-primary">Edit Services<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
        </div>
    </div>
   
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="p-5">

            <h1 class="text-center mb-5">Create Article</h1>

            <div class="card">

                <!-- Card content -->
                <div id="update-card" class="card-body">
                    <div class="row">
                        <div id="update-card" class="col-md-6 px-5">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="card-title">
                                        <a class="nav-link p-0" href="#">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                                class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <p class="mt-2 font-weight-normal">Justin Wallace<span
                                            class="font-weight-bold mx-2">·</span>
                                            <span class="font-weight-bold mx-2">·</span> 1 min read</p>
                                </div>
                            </div>


                        </div>





                        <div id="update-card" class="col-md-6">
                            <div class="row mb-2">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4 text-right mb-4">
                                    <button class="mt-2 font-weight-normal btn btn-transparent"><i
                                            class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Header, Text, Tag and Image display -->
                    <div class="row px-5">

                        <!-- input for header -->
                        <div class="header-input">
                         
                        <input type="text" style="font-size: 36px;"(input)="onChangeHeader($event.target.value)"
                            class="form-control" placeholder="Type your header here..." maxlength="80">
                        </div>

                        <!-- <div class="header-input">
                        <input-counter 
                            [style.font-size.px]="36"
                            id="input-header"
                            type="text"
                            placeholder="Type your header here..."
                            (input)="onChangeHeader($event.target.value)"
                            maxlength="10"
                            className="form-control">
                        </input-counter>
                        </div> -->

                        <div class="subheader-input">
                                <input type="text" style="font-size: 20px;" (input)="onChangeSubheader($event.target.value)"
                                class="form-control" placeholder="Type your subheader here..." maxlength="50">
                        </div>

                            

                        <div class="form-group shadow-textarea py-4 w-100">

                                <!-- <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="10"
                                style="width: 100%;" (input)="onChangeText($event.target.value)" placeholder="Type your paragraphs here..."></textarea> -->
                           <ckeditor [editor]="Editor" data="" (change)="change($event)" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'bulletedList', 'numberedList', 'undo', 'redo'],
                           heading: { options: [{ model: 'paragraph', title: 'Paragraph', class: ck-heading_paragraph}, 
                                                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                                                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                                                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'}]} }"></ckeditor>

                        </div>
                           

                        <!-- content avaliability -->
                        <h4>Content Avaliability:</h4>
                        <label class="container">Public
                            <input type="radio" class="form-control" (input)="onChangeAvailabilty($event.target.value)"
                                value="public" name="avaliability">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">TA Members Only
                            <input type="radio" class="form-control" (input)="onChangeAvailabilty($event.target.value)"
                                value="members" name="avaliability">
                            <span class="checkmark"></span>
                        </label>

                        <br>



                        <h4 class="tags">Tags:</h4>
                        <br><br>

                                <mdb-checkbox (change)="checkCheckBoxvalue1($event)"  class="checkselect" value="BusinessTalks" class="p-3">
                                    Business talks</mdb-checkbox>
                     


                           
                                <mdb-checkbox (change)="checkCheckBoxvalue3($event)"  class="checkselect" value="OrganizationalGatherings"
                                    class="p-3">Organizational gatherings
                                </mdb-checkbox>

                                <mdb-checkbox (change)="checkCheckBoxvalue4($event)" class="checkselect" value="TradeAssociationHub"
                                    class="p-3">Trade Association Hub</mdb-checkbox>
                            
                            
                                <mdb-checkbox (change)="checkCheckBoxvalue5($event)"  class="checkselect" value="EntrepreneurCourses"
                                    class="p-3">Entrepreneur Courses</mdb-checkbox>
                            
                            
                                <mdb-checkbox (change)="checkCheckBoxvalue2($event)"  class="checkselect" value="Charity" class="p-3">
                                    Charity
                                </mdb-checkbox>
                            

                        <br>

                        
                        <input type="text" (input)="onChangeTag($event.target.value)" id="preferTag"
                            class="form-control" placeholder="">

                        <hr id="card-hr">

                        <div id="display-img" class="col-md-12">
                            <img id="article-image" [src]="article.image">
                        </div>

                        <div class="container d-flex social p-3">


                            <div class="form-group">
                                <label for="upload-photo"><i class="fas fa-camera p-3"></i></label>
                                <input type="file" accept="image/*" (change)="changeListener($event)" id="upload-photo" (input)="onChangeImageUpdate($event.target.value)">
                            </div>



                            <a><i class="fas fa-video p-3"></i></a>
                            <a><i class="fas fa-code p-3"></i></a>
                        </div>

                        <hr class="mb-5" id="card-hr">

                        <div class="row w-100">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button mdbBtn type="button"
                                            class="btn btn-outline-default btn-md btn-block">Cancel</button>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group col-md-6" role="group">

                                            <button type="button" class="btn btn-md btn-light"
                                                (click)="submit()">Publish</button>

                                            <button type="button" class="btn btn-md btn-default"><i
                                                    class="fas fa-ellipsis-v"></i></button>


                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>



                        <div>

                        </div>


                    </div>
                    <!-- End of Header, Text, Tag and Image display -->

                    
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>

        <!-- FOOTER SECTION -->
        <app-footer></app-footer>
        <!-- END OF FOOTER SECTION -->
    </div>
</div>