<section class="contact">
    <br>
    <br>
      <div class="row d-flex justify-content-center">
            <h2 translate>contactTranslate.header2</h2>
      </div>
      <br>
      <div class="row d-flex justify-content-center">
            <p translate>contactTranslate.address</p>
  
      </div>
      <div class="row d-flex justify-content-center">
            <p translate>contactTranslate.email</p>
          
      </div>
      <div class="row d-flex justify-content-center">
            <p translate>contactTranslate.phoneNo</p>
      </div>
      <br>
      <br>
  </section>

  <router-outlet></router-outlet>