<!-- ADMIN NAVBAR -->
<app-navbar></app-navbar> 
<!-- END OF ADMIN NAVBAR -->


<div class="d-flex" id="wrapper">
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin Dashboard
        </div>
        <div class="list-group list-group-flush" id="sidebar-wrapper-links">
            <a id="anchor" routerLink="/admin-article" class="list-group-item list-group-item-action bg-primary">Articles<span class="ml-auto"><i class="fas fa-newspaper"></i></span></a>
            <a id="anchor" routerLink="/admin" class="list-group-item list-group-item-action bg-primary">Create Article<span class="ml-auto"><i class="fas fa-pen"></i></span></a>
            <a id="anchor" routerLink="/admin-edit-home" class="list-group-item list-group-item-action bg-primary">Edit Home<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
            <a id="anchor" routerLink="/admin-about" class="list-group-item list-group-item-action bg-primary">Edit About<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
            <a id="anchor" routerLink="/admin-services" class="list-group-item list-group-item-active bg-primary">Edit Services<span class="ml-auto"><i class="fas fa-edit"></i></span></a>
        </div>
    </div>

  
      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="p-5">
  
                  <h1 class="text-center mb-5">Edit Article</h1>
  
              <div class="card">
  
                  <!-- Card content -->
                  <div id="update-card" class="card-body">
                      <div class="row">
                          <div id="update-card" class="col-md-6 px-5">
                              <div class="row">
                                  <div class="col-md-2">
                                      <div class="card-title">
                                          <a class="nav-link p-0" href="#">
                                              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                                  class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="col-md-10">
                                      <p class="mt-2 font-weight-normal">Justin Wallace<span
                                              class="font-weight-bold mx-2">·</span>
                                          {{date | dateAgo}}<span class="font-weight-bold mx-2">·</span>{{readTime}} min read</p>
                                  </div>
                              </div>
                          </div>
  
  
  
                          <div id="update-card" class="col-md-6">
                              <div class="row mb-2">
                                  <div class="col-md-8">
                                  </div>
                                  <div class="col-md-4 text-right mb-4">
                                      <button class="mt-2 font-weight-normal btn btn-transparent"><i
                                              class="fas fa-ellipsis-v"></i></button>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                      <!-- Header, Text, Tag and Image display -->
                      <div class="row px-5">
                          
                          
                              <div class="header-input">
                              <input value="{{header}}" (input)="onChangeHeaderUpdate($event.target.value)"
                                  type="text" style="font-size: 36px;" class="form-control" maxlength="80"></div>

                                  <div class="subheader-input">
                                      <input value="{{subheader}}" (input)="onChangeSubheaderUpdate($event.target.value)"
                                      type="text" style="font-size: 20px;" class="form-control" maxlength="50"> 
                                  </div>

                
  
  
                              <div class="form-group shadow-textarea py-4 w-100">
  
                                  <!-- <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="10"
                                      style="width: 100%;"
                                      (input)="onChangeTextUpdate($event.target.value)">{{text}}</textarea> -->
                                      <ckeditor class="container" [editor]="Editor" data="{{text}}" (change)="change($event)" [config]="{ alignment: {options: ['left', 'right']}, toolbar: [ 'heading', '|', 'bold', 'italic', 'bulletedList', 'numberedList', 'alignment', 'undo', 'redo'],
                                                heading: { 
                                                    options: [
                                                { model: 'paragraph', title: 'Paragraph', class: ck-heading_paragraph}, 
                                                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                                                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                                                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'}
                                                             ]
                                                        } 
                                                    }"></ckeditor>
                              </div>
                              <div id="display-img" class="col-md-12">
  
                              <img id="article-image" [src]="image">
  
                          </div>
                              <!-- <div class="container d-flex social p-3">
  
                                  <div class="form-group">
                                          <label for="upload-photo"><i class="fas fa-camera p-3"></i></label>
                                          <input type="file" accept="image/*" (change)="changeListener($event)" id="upload-photo"  (input)="onChangeImageUpdate($event.target.value)">
                                      </div>
  
  
                                  <a><i class="fas fa-video p-3"></i></a>
                                  <a><i class="fas fa-code p-3"></i></a>
                              </div> -->


                              <div class="container d-flex social p-3">


                                    <div class="form-group">
                                        <label for="upload-photo"><i class="fas fa-camera p-3"></i></label>
                                        <input type="file" accept="image/*" (change)="changeListener($event)" id="upload-photo" (input)="onChangeImageUpdate($event.target.value)">
                                    </div>
        
        
        
                                    <a><i class="fas fa-video p-3"></i></a>
                                    <a><i class="fas fa-code p-3"></i></a>
                                </div>

                              <label for="exampleForm2"></label>
                              <input value="{{tag}}" (input)="onChangeTagUpdate($event.target.value)" type="text"
                                  class="form-control">
                       
  
  
                          <hr id="card-hr">
  
                          <div class="container d-flex social p-3">
                              <a><i class="fab fa-facebook-f mr-5"></i></a>
                              <a><i class="fab fa-twitter mr-5"></i></a>
                              <a><i class="fab fa-linkedin-in"></i></a>
                          </div>
  
                          <hr class="mb-5" id="card-hr">
  
                          <div class="row w-100">
                              <div class="col-md-6">
  
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <button mdbBtn type="button"
                                              class="btn btn-outline-default btn-md btn-block">Revert to
                                              Original</button>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="btn-group col-md-6" role="group">
                                              <!--Update Modal button-->
  
                                              <button type="button" class="btn btn-md btn-light relative waves-light"
                                                  (click)="onSubmit()" mdbWavesEffect>Update</button>
  
                                                  <button type="button" class="btn btn-md btn-default"><i
                                                      class="fas fa-ellipsis-v"></i></button>
  
                                          </div>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
  
                      </div>
                      <!-- End of Header, Text, Tag and Image display -->
                      <div>
                      </div>
                  </div>
              </div>
              <!-- FOOTER SECTION -->
              <app-footer></app-footer>
              <!-- END OF FOOTER SECTION -->
  
              <!-- /#page-content-wrapper -->
          </div>
          <!-- /#wrapper -->
      </div>
  
  </div>
  
  