<!-- Default form forgot password -->
<br>
<br>
<br>
<div class="d-flex justify-content-around">

    <form class="text-center p-5">

        <h3 class="font-weight-normal mb-4">Forgot your password?</h3>
        <!-- Register -->
        <p class="text-muted">Fill up this form now to get a new one :)</p>
        <br>
        <i class="fas fa-user-circle"></i>

        <br>

        <!-- Email -->
        <div class="md-form">
            <input type="text" id="Form-email2" class="form-control">
            <label for="Form-email2">Your company email</label>
        </div>

        

        <div class="d-flex justify-content-around">


            <!-- Submit button -->
            <button mdbBtn color="dark" block="true" class="my-4" type="submit">Submit</button>

        </div>
        <!--Back button -->
        <div class="col">
            <a href="/login">back</a>
        </div>
<app-footer></app-footer>
    </form>
</div>
<router-outlet></router-outlet>
<!-- Default form forgot password -->