<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- END OF NAVBAR -->



<!-- LANDING PAGE IMAGE -->
<!-- <img class="thumbnail" src="https://via.placeholder.com/1440x500?text=PMO+Team." alt="image"> -->
<!-- END OF LANDING PAGE IMAGE -->


<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/img/cwg.jpg" alt="First slide">
      <div class="mask rgba-stylish-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">The Career Women's perspective</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quibusdam tempora voluptas doloribus veniam iste a eius et.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/img/members_night.jpg" alt="Second slide">
      <div class="mask rgba-stylish-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">SCCCI member's night</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quibusdam tempora voluptas doloribus veniam iste a eius et.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/img/saf_day.jpg" alt="Third slide">
      <div class="mask rgba-stylish-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">SAF Day Rededication Ceremony 2019</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quibusdam tempora voluptas doloribus veniam iste a eius et.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>


<div class="container">


  <!-- PAGE INTRO HEADER -->
  <br>
  <br>
  <div class="row d-flex justify-content-center">
    <h1 translate>homeTranslate.header1</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <h4 translate>homeTranslate.header4</h4>
  </div>
  <br>
  <br>
  <br>
  <!-- END OF PAGE INTRO HEADER -->



  <!-- RECENT ARTICLES SECTION -->
  <p class="label" translate>homeTranslate.recentArticles</p>



  <hr class="my-5">
  <section class="my-5">



    <!-- Grid row -->
    <section *ngIf="dataLoaded; else skeleton">
      <div class="row" *ngFor="let article of articles" [@fadeIn]>




        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" [src]="article.image" alt="Sample image" id="display-image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <!-- <a href="#!" class="green-text">
            <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Food</h6>
          </a> -->
          <!-- <p class="green-text font-weight-normal"><i class="far fa-clock pr-2"></i>{{article.date | dateAgo}}</p> -->

          <p class="green-text font-weight-normal"><i class="far fa-clock pr-2"></i>{{article.date | dateAgo}}</p>
          <!-- Post title -->
          <h3 class=" mb-3">{{article.header}}</h3>
          <!-- Excerpt -->
          <!-- <p [innerHtml]="article.text | slice: 0:150">...</p> -->
          <p>{{article.text | stripHtml | slice: 0:150}}...</p>
          <!-- Post data -->
          <p class="font-weight-normal">{{article.tag}}</p>
          <!--   -->
          <!-- Read more button -->
          <button class="btn btn-primary btn-md" (click)="onShowcase(article.image, article.text)"
            [routerLink]="['/article-showcase', article.header, article.subheader, article.tag, article._id, article.date]">Read more</button>
            <br>
            <br>
            
        </div>
        <!-- Grid column -->



      </div>
    </section>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <section *ngIf="dataLoaded; else skeleton2">
    <div class="row" *ngFor="let article of articles2" [@fadeIn]>

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Category -->
        <!-- <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-image pr-2"></i>Lifestyle</h6>
        </a> -->
        <p class="green-text font-weight-normal"><i class="far fa-clock pr-2"></i>{{article.date | dateAgo}}</p>
        <!-- Post title -->
        <h3 class="mb-3">{{article.header}}</h3>
        <!-- Excerpt -->
        <!-- <p [innerHtml]="article.text | slice: 0:150">...</p> -->
        <p>{{article.text | stripHtml | slice: 0:150}}...</p>
        <!-- Post data -->
        <p class="font-weight-normal">{{article.tag}}</p>
        <!-- <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p> -->
        <!-- Read more button -->
        <button class="btn btn-primary btn-md mb-3" (click)="onShowcase(article.image, article.text)"
          [routerLink]="['/article-showcase', article.header, article.subheader, article.tag, article._id, article.date]">Read more</button>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2">
          <img class="img-fluid" [src]="article.image" alt="Sample image" id="display-image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
  </section>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <section *ngIf="dataLoaded; else skeleton">
    <div class="row" *ngFor="let article of articles3" [@fadeIn]>

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" [src]="article.image" alt="Sample image" id="display-image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Category -->
        <!-- <a href="#!" class="indigo-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-suitcase pr-2"></i>Travels</h6>
        </a> -->
        <p class="green-text font-weight-normal"><i class="far fa-clock pr-2"></i>{{article.date | dateAgo}}</p>
        <!-- Post title -->
        <h3 class=" mb-3">{{article.header}}</h3>
        <!-- Excerpt -->
        <!-- <p [innerHtml]="article.text | slice: 0:150">...</p> -->
        <p>{{article.text | stripHtml | slice: 0:150}}...</p>
        <!-- Post data -->
        <p class="font-weight-normal">{{article.tag}}</p>
        <!-- <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p> -->
        <!-- Read more button -->
        <button class="btn btn-primary btn-md" (click)="onShowcase(article.image, article.text)"
          [routerLink]="['/article-showcase', article.header, article.subheader, article.tag, article._id, article.date]">Read more</button>

      </div>
      <!-- Grid column -->

    </div>
    </section>


    <!-- Grid row -->

    <hr class="my-5">

  </section>
  <!-- END OF RECENT ARTICLES SECTION -->



  <!-- UPCOMING EVENTS SECTION -->
  <div class="row d-flex justify-content-center">
    <h3 translate>eventsTranslate.upcomingEvents</h3>
  </div>

  <br>
  <br>

  <!-- Card deck -->
  <div class="row">
    <!-- Card deck -->
    <div class="card-deck my-5">
      <div class="col-md-4" *ngFor="let event of events">

        <!-- Card -->
        <mdb-card class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title text-center">{{event.eventtitle}}</h4>
            <!--Text-->
            <p class="card-text text-center">{{event.eventtype}}</p>
            <p class="card-text text-center">{{event.eventstartdate}} - {{event.eventenddate}}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="text-center"><a
                [routerLink]="['/event-showcase', event.eventid, event.eventstartdate, event.eventenddate, event.registrationenddate, event.eventtitle, event.eventtype]"
                class="btn btn-light-blue btn-md">Learn more</a>
            </div>
          </div>
        </mdb-card>
        <!-- Card -->
      </div>
    </div>

  </div>
  <!-- Card deck -->


</div>
<br>
<br>
<!-- END OF UPCOMING EVENTS SECTION -->



<!-- FUTURE EVENTS SECTION -->
<app-future-events></app-future-events>
<!-- END OF FUTURE EVENTS SECTION -->



<!-- CONTACT SECTION -->
<app-contact></app-contact>
<!-- END OF CONTACT SECTION -->



<!-- SECOND IMAGE SECTION -->
<img class="thumbnail2" src="https://via.placeholder.com/1440x260?text=Extra+Image" alt="image">
<!-- <img class="thumbnail2" src="assets/img/abstract2.jpg" alt="image"> -->
<br>
<br>
<!-- END OF SECOND IMAGE SECTION -->



<!-- FOOTER SECTION-->
<app-footer></app-footer>
<!-- END OF FOOTER SECTION -->






<ng-template #skeleton>

  <div class="row">
    <div class="col-lg-5">
      <div class="item mb-lg-0 mb-4">
        <ngx-skeleton-loader count="1" [theme]="{height: '270px'}"></ngx-skeleton-loader>
        <div class="mask rgba-white-slight"></div>
      </div>
    </div>

  <div class="col-lg-7">
    <h6 class="item mb-2">
      <ngx-skeleton-loader count="1" [theme]="{width: '60px', height: '20px'}"></ngx-skeleton-loader>
    </h6>
    <h3 class="item mb-2">
      <ngx-skeleton-loader count="1" [theme]="{ width: '200px', height: '30px'}"></ngx-skeleton-loader>
    </h3>
    <p class="item mb-1">
        <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
    </p>
    <p class="item mb-1">
        <ngx-skeleton-loader count="1" [theme]="{width: '100px'}"></ngx-skeleton-loader>
    </p>
    <p class="item">
      <ngx-skeleton-loader count="1" [theme]="{ width: '60px', height: '30px'}"></ngx-skeleton-loader>
    </p>
  </div>
</div>
</ng-template>







<ng-template #skeleton2>
    <div class="row">

        <div class="col-lg-7">
            <h6 class="item mb-2">
              <ngx-skeleton-loader count="1" [theme]="{width: '60px', height: '20px'}"></ngx-skeleton-loader>
            </h6>
            <h3 class="item mb-2">
              <ngx-skeleton-loader count="1" [theme]="{ width: '200px', height: '30px'}"></ngx-skeleton-loader>
            </h3>
            <p class="item mb-1">
                <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
            </p>
            <p class="item mb-1">
                <ngx-skeleton-loader count="1" [theme]="{width: '100px'}"></ngx-skeleton-loader>
            </p>
            <p class="item">
              <ngx-skeleton-loader count="1" [theme]="{ width: '60px', height: '30px'}"></ngx-skeleton-loader>
            </p>
          </div>

        <div class="col-lg-5">
          <div class="item mb-lg-0 mb-4">
            <ngx-skeleton-loader count="1" [theme]="{height: '270px'}"></ngx-skeleton-loader>
            <div class="mask rgba-white-slight"></div>
          </div>
        </div>
    

    </div>

</ng-template>


<router-outlet></router-outlet>