.mt-2 {
    font-size: 12px;
}

#update-card {
    padding: 50px;
}

#check-box {
    padding-top: 25px;
    padding-left: 50px;

}

.save-indicator {
    margin-top: 80px;
    margin-bottom: -65px;
}

